body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right,rgb(189, 2, 2),70%, rgb(254, 99, 99));
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*====================== Pour le texte ============================*/
h1{
    color: white;
    text-align: center;
    font-size: 2vw;
}

h2{
    color: white;
    text-align: center; 
    font-size: 3vw;
}

p{
    font-size: 2.5vw;
    color: white;
}

.text_chono{
    font-size: 3vw;  
    text-align: center;
    font-weight: bold;
}

/*====================== Pour les insertion des nouvelles valeurs pour le chrono ============================*/

input{
    background-color: white;
    border-width: 0.8vw;
    border-color:  rgb(194, 164, 17);
    border-radius: 6.25em;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 50%; 
    height: 4vw;
    width: 33vw; 

}

label{
    color: white;
    margin-left: 7vw ;
    font-size: 3vw;
}


/*====================== Pour les cercles ============================*/

#affichage{
    color: white;
    font-size: 7vw;
    text-align: center;

}

.deuxieme_cercle{
    margin-left: 33%;
    border-radius:50%;
    width: 28vw;
    height: 28vw;
    border: 0.7vw solid black;
}

.cercle{
    margin-top: 3.5%;
    margin-left: 3.5%;
    border-radius:50%;
    width: 24vw;
    height: 24vw;
    border: 1vw solid   rgb(194, 164, 17);
}

.cercle, .deuxieme_cercle{
    display: inline-block;
    background: rgb(189, 2, 2);
    border-radius:50%;
}

/*====================== Pour les boutons ============================*/

button{
    color: rgb(194, 164, 17);
    background-color: black;

}

#action{
    margin-left:42%;
    background: linear-gradient(to bottom right, #1b0202, #9c5252);
    border: 0.5%;
    border-color: #000000;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 3vw;
    font-weight: 450;
    line-height: 2;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    
}

#maj{
    margin-top: 3%;
    margin-left: 1%;
    align-items: center;
    background-color: #000000;
    background-position: 0 0;
    border: 1px solid #97942d;
    border-radius: 11px;
    box-sizing: border-box;
    color: #f9f4f4;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}


