h1{
    color: white;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right,rgb(189, 2, 2),70%, rgb(254, 99, 99));
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#affichage{
    color: white;
    font-size: 8vw;
    text-align: center;

}

.deuxieme_cercle{
    margin-left: 38%;
    border-radius:50%;
    width: 32vw;
    height: 32vw;
    border: 1vw solid black;
}

.cercle{
    margin-top: 1.5%;
    margin-left: 1.5%;
    border-radius:50%;
    width: 30vw;
    height: 30vw;
    border: 0.6vw solid   rgb(194, 164, 17);
}

.cercle, .deuxieme_cercle{
    display: inline-block;
    background: rgb(189, 2, 2);
    border-radius:50%;
}

#temps{
    text-align: center;
    color: white;
}

button{
    color: rgb(194, 164, 17);
    background-color: black;

}

#action{
    margin-left:47%;
}

#maj{
    margin-top: 3%;
    margin-right: 50%;
}

h3{
    color: white;
    text-align: center; 
}

p{
    color: white;
}

input{
    background-color: rgb(32, 32, 76);
    border-radius: 13%;
    margin-top: 3%;
    margin-right: 50%;    
}

